<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodawanie pracownika</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <style>
        .form-group label {
            font-weight: bold;
        }

        .form-group label.required::after {
            content: "*";
            color: red;
        }

        .form-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .form-container .col-sm-6 {
            width: 48%;
        }

        .invalid-feedback {
            display: none;
            color: red;
        }

        .form-control.is-invalid {
            border-color: red;
        }

        .form-group .form-control:focus {
            border-color: #007bff;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container mt-5">
    <h1>Dodawanie nowego pracownika</h1>

    <form method="post" th:action="@{/admin/employees/add}" id="employeeForm">
        <div class="form-container">
            <!-- Pierwsza kolumna: Dane osobowe -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="required" for="firstName">Imię:</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" maxlength="20" required/>
                    <div class="invalid-feedback">Imię jest wymagane i nie powinno przekraczać 20 znaków.</div>
                </div>
                <div class="form-group">
                    <label class="required" for="lastName">Nazwisko:</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" maxlength="20" required/>
                    <div class="invalid-feedback">Nazwisko jest wymagane i nie powinno przekraczać 20 znaków</div>
                </div>
                <div class="form-group">
                    <label class="required" for="dob">Data urodzenia:</label>
                    <input type="date" id="dob" name="dob" class="form-control" required/>
                    <div class="invalid-feedback">Data urodzenia jest wymagana.</div>
                </div>
                <div class="form-group">
                    <label class="required" for="phoneNumber">Numer telefonu:</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" maxlength="15" pattern="^\d{1,15}$" required/>
                    <div class="invalid-feedback">Numer telefonu jest wymagany, powinien składać się wyłącznie z cyfr i mieć maksymalnie 15 znaków.</div>
                </div>
                <div class="form-group">
                    <label class="required" for="email">Adres email:</label>
                    <input type="email" id="email" name="email" class="form-control" required/>
                    <div class="invalid-feedback">Adres email jest wymagany.</div>
                </div>
                <div class="form-group">
                    <label for="pesel">PESEL:</label>
                    <input type="text" id="pesel" name="pesel" class="form-control" maxlength="11" pattern="^\d{11}$"
                           title="PESEL powinien składać się z dokładnie 11 cyfr."/>
                    <div class="invalid-feedback">PESEL powinien składać się z dokładnie 11 cyfr.</div>
                </div>
                <div class="form-group">
                    <label class="required" for="gender">Płeć:</label>
                    <select id="gender" name="gender" class="form-control" required>
                        <option value="" disabled selected>Wybierz płeć</option>
                        <option value="M">Mężczyzna</option>
                        <option value="K">Kobieta</option>
                    </select>
                </div>
                <!-- Zaktualizowane pole dla stanowiska -->
                <div class="form-group">
                    <label class="required" for="positionName">Stanowisko:</label>
                    <select id="positionName" name="positionName" class="form-control" required>
                        <option value="" disabled selected>Wybierz stanowisko</option>
                        <!-- Pętla dla stanowisk -->
                        <option th:each="stanowisko : ${stanowiska}"
                                th:value="${stanowisko.nr_stanowiska}"
                                th:text="${stanowisko.nazwa}"></option>
                    </select>
                </div>
            </div>

            <!-- Druga kolumna: Dane adresowe i zawodowe -->
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="required" for="addressCity">Miasto:</label>
                    <input type="text" id="addressCity" name="addressCity" class="form-control" maxlength="30" required/>
                    <div class="invalid-feedback">Miasto jest wymagane i nie może przekraczać 30 znaków.</div>
                </div>
                <div class="form-group">
                    <label class="required" for="addressStreet">Ulica:</label>
                    <input type="text" id="addressStreet" name="addressStreet" class="form-control" maxlength="30" required/>
                    <div class="invalid-feedback">Ulica jest wymagana i nie może przekraczać 30 znaków.</div>
                </div>
                <div class="form-group">
                    <label class="required" for="addressBuildingNumber">Numer budynku:</label>
                    <input type="text" id="addressBuildingNumber" name="addressBuildingNumber" class="form-control" maxlength="5" required/>
                    <div class="invalid-feedback">Numer budynku jest wymagany i nie może przekraczać 5 znaków.</div>
                </div>
                <div class="form-group">
                    <label for="addressLocalNumber">Numer lokalu:</label>
                    <input type="text" id="addressLocalNumber" name="addressLocalNumber" class="form-control" maxlength="5"/>
                    <div class="invalid-feedback">Numer lokalu nie może przekraczać 5 znaków.</div>
                </div>
                <div class="form-group">
                    <label class="required" for="postName">Poczta:</label>
                    <input type="text" id="postName" name="postName" class="form-control" maxlength="30" required/>
                    <div class="invalid-feedback">Poczta jest wymagana i nie może przekraczać 30 znaków.</div>
                </div>

                <div class="form-group">
                    <label class="required" for="postalCode">Kod pocztowy:</label>
                    <input type="text" id="postalCode" name="postalCode" class="form-control" required
                           pattern="^\d{2}-\d{3}$" title="Kod pocztowy jest wymagany i powinien być formatu XX-XXX (np. 12-345)"/>
                    <div class="invalid-feedback">Kod pocztowy jest wymagany i powinien być formatu XX-XXX (np. 12-345).</div>
                </div>


                <div class="form-group">
                    <label class="required" for="username">Nazwa użytkownika:</label>
                    <input type="text" id="username" name="username" class="form-control" required/>
                    <div class="invalid-feedback">Nazwa użytkownika jest wymagana.</div>
                </div>
                <div class="form-group">
                    <label class="required" for="password">Hasło:</label>
                    <input type="password" id="password" name="password" class="form-control" required/>
                    <div class="invalid-feedback">Hasło jest wymagane.</div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Dodaj pracownika</button>
    </form>

    <div class="mt-4">
        <a href="/admin/employees" class="btn btn-primary">Powrót</a>
    </div>
</div>

<script>
    // Walidacja formularza po kliknięciu
    const form = document.getElementById('employeeForm');
    form.addEventListener('submit', function(event) {
        const formControls = form.querySelectorAll('.form-control');

        formControls.forEach(function(input) {
            if (!input.checkValidity()) {
                input.classList.add('is-invalid');
            } else {
                input.classList.remove('is-invalid');
            }
        });

        if (!form.checkValidity()) {
            event.preventDefault();  // Zatrzymaj wysyłanie formularza, jeśli są błędy
        }
    });
</script>

</body>
</html>
