<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Worker Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <style>
        .worker-section {
            margin-top: 30px;
        }

        .worker-section h3 {
            font-size: 24px;
            margin-bottom: 15px;
        }

        .btn-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }

        .btn-small {
            width: 200px;
            padding: 8px 10px;
            text-align: center;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">
            <form method="post" th:action="@{/index}">
                <div class="form-group">
                    <label style="font-size:30px" th:inline="text">
                        Welcome
                        <a style="color:lightskyblue; text-transform:capitalize">
                            <b>[[${#httpServletRequest.remoteUser}]]</b>
                        </a>
                        to the main page!
                    </label>
                    <div style="font-size:20px">If you want to logout, click "Logout" button under this text.</div>
                </div>

                <button class="btn btn-primary btn-small" type="submit" onclick="successfullyLogout()" value="Sign Out">Logout
                </button>
            </form>
        </div>
    </div>

    <div class="row worker-section">
        <div class="col-md-12">
            <h3>Worker Tools</h3>
            <div class="btn-container">
                <a th:href="@{/manage-events}" class="btn btn-secondary btn-small">Manage Events</a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>
