<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" th:fragment="header">
        <div class="container">
            <a class="navbar-brand" href="/">Dom Kultury</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto align-items-center">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/index}">Home</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#">Main
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item" th:if="${#request.remoteUser == null}">
                        <a class="nav-link" th:href="@{/main}">Login</a>
                    </li>

                    <!-- Nazwa zalogowanego użytkownika -->
                    <li class="nav-item" th:if="${#request.remoteUser != null}">
                        <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b
                                style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                    </li>
                    <!-- Przycisk Logout -->
                    <li class="nav-item" th:if="${#request.remoteUser != null}">
                        <form th:action="@{/index}" method="post" style="display:inline;">
                            <button class="btn btn-danger btn-sm" type="submit" onclick="successfullyLogout()">Logout</button>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</body>
</html>