<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Events</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container mt-5">
    <h1>Upcoming and Ongoing Events</h1>
    <div class="row">
        <div class="col-md-12">
            <p>Here you can see the list of all events happening now or in the future.</p>
            <!-- Wydarzenia zostaną zaimplementowane później -->
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
